<div>
  <table class="table table-striped table-rounded table-bordered" style="background-color: #c0c0c0">
    <thead>
      <tr>
        <th class="text-center" scope="col" ng-repeat="column in $ctrl.tableData.columns">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.tableData.rows">
        <td ng-click="$ctrl.onRowClick($event,row)" class="text-center" ng-repeat="column in $ctrl.tableData.columns">
          {{(row | objectValues)[$index]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
