<div class="md-padding">
  <div class="container-space-evenly">
    <!-- <button class="button" ng-disabled="$ctrl.loading || $ctrl.errorMessage" ng-click="$ctrl.paginateTo($ctrl.page)"> -->
      <!-- <i class="fa fa-refresh" ng-class="{'fa-spin': $ctrl.loading || $ctrl.errorMessage}"></i> -->
    <!-- </button> -->
    <input type="text" class="rounded" ng-model="searchText" />
    <button
      class="button centered"
      ng-click="$ctrl.getDevicesByNamePaginated(searchText)"
      ng-disabled="$ctrl.loading || $ctrl.errorMessage"
    >
      Search
    </button>
    <button
      class="button centered"
      ng-click="$ctrl.addDevice($event)"
      ng-disabled="$ctrl.loading || $ctrl.errorMessage"
    >
      Add
    </button>
    <button
      class="button centered"
      ng-click="$ctrl.paginateBackward()"
      ng-disabled="$ctrl.loading || $ctrl.errorMessage"
    >
      &laquo; Previous
    </button>
    <button
      class="button centered"
      ng-click="$ctrl.paginateForward()"
      ng-disabled="$ctrl.loading || $ctrl.errorMessage"
    >
      Next &raquo;
    </button>
    <p>Page:</p>
    <select
      ng-model="$ctrl.page"
      ng-change="$ctrl.paginateTo($ctrl.page)"
      ng-disabled="$ctrl.loading || $ctrl.errorMessage"
      ng-options="pageNumber for pageNumber in $ctrl.pagesList"
    ></select>
    <p>Count:</p>
    <select
      ng-model="$ctrl.countPerPage"
      ng-change="$ctrl.changeCountPerPage($ctrl.countPerPage)"
      ng-disabled="$ctrl.loading || $ctrl.errorMessage"
      ng-options="count for count in [5,10,20,50,100,200,500,1000]"
    ></select>
    <i class="fa fa-refresh" ng-class="{'fa-spin': $ctrl.loading || $ctrl.errorMessage}"></i>
  </div>
  <error-view text="$ctrl.errorMessage" visible="$ctrl.errorMessage"></error-view>
  <div>
    <table-view
      table-data="$ctrl.tableData"
      on-row-click="$ctrl.onRowClick"
      ng-Style="{'display':!$ctrl.errorMessage && !$ctrl.devicesEmpty ? 'visible' : 'none' }"
    ></table-view>
  </div>
</div>
