<md-dialog class="md-padding" style="width: 40%">
  <md-dialog-content class="centered">
    <p>{{$ctrl.title}}</p>
    <div class="container-space-evenly">
      <input
        class="form-control rounded text-center m-1"
        ng-model="$ctrl.phoneNumber"
        placeholder="Phone"
      />
      <select
        class="form-control text-center rounded m-1"
        ng-model="$ctrl.device"
        ng-options="device.name for device in $ctrl.devices"
      >
        <option value="" selected disabled>Device Name</option>
      </select>
      <select class="form-control text-center rounded m-1" ng-model="$ctrl.status">
        <option value="" selected disabled>Status</option>
        <option value="Reserved">Reserved</option>
        <option value="NotReserved">Available</option>
      </select>
    </div>
    <label class="text-danger" ng-style="{'visibility':$ctrl.alertText?'visible':'hidden'}">{{$ctrl.alertText}}</label>
  </md-dialog-content>
  <md-dialog-actions>
    <div class="centered" style="width: 100%">
      <md-button class="md-raised md-primary" ng-click="$ctrl.onConfirm()">Confirm</md-button>
      <md-button class="md-raised" ng-click="$ctrl.onCancel()">Cancel</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
